	# Created by https://www.toptal.com/developers/gitignore/api/jupyternotebooks
# Edit at https://www.toptal.com/developers/gitignore?templates=jupyternotebooks

### JupyterNotebooks ###
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# Data Files
data/raw/tripdata/*
data/raw/weather/*
data/trips_raw.pkl
data/trips_clean.pkl
data/counts_enriched.pkl
data/counts.pkl
data/weather.pkl
data/weather_raw.pkl
data/weather_alt.pkl
data/tripdata_coordinates.pkl
data/trips_complete.pkl
data/counts_complete.pkl
data/bike_idle_times.pkl
data/bike_operation_times.pkl
data/count_weather.pkl
data/trips_weather.pkl
data/counts_prepared.pkl
data/counts_aggregated.pkl

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/

# End of https://www.toptal.com/developers/gitignore/api/jupyternotebooks

C:/Users/tanja/OneDrive/Dokumente/GitHub/CapitalBikeShare/Seine Daten/**
data/counts-enriched.pkl
data/sightseeing_coordinates.pkl
data/sightseeing_coordinates.pkl
data/sightseeing_coordinates.pkl
data/sightseeing_coordinates.pkl
data/sightseeing_coordinates.pkl
notebooks/80 - XGB (Decision Tree)_ggf fehlende Änderungen.ipynb
notebooks/80_XGB (Decision Tree)01.ipynb
notebooks/00_Projektbericht.ipynb
notebooks/00_Projektbericht.ipynb
